<div class="card  text-center">

    <div class="card-header">Filtros</div>

        <div class="card-body"></div>

            <div class="form-group">
                <label for="de">Preço Minímo</label>
                <input type="number" id="de" class="form-control" placeholder="R$">
            </div>

            <div class="form-group">
                <label for="ate">Preço Máximo</label>
                <input type="number" id="ate" class="form-control" placeholder="R$">
                <button class="btn btn-success btn-block my-2 mx-2">Filtrar</button>
            </div>

           
</div>